<ion-view title="Kanji List">
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <div class="buttons">
            <a class="button" href="#">Home</a>
            <a class="button" href="#/guess-kanji-level-select">Level Select</a>
        </div>
        <h1 class="title">Guess Kanji Level <span ng-bind="level"></span></h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div level-display level="{{level}}"></div>
                <div health-display hp="{{hp}}" max-hp="{{maxHp}}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list">
                    <li class="item item-divider question-text">
                        <div class="question" question question-text="{{questionText.keyword}}"></div>
                    </li>
                    <li class="item answer-option" answer-option answer-text="{{answer1.kanji}}" ng-click="onAnswerOptionClick(answer1)">
                    </li>
                    <li class="item answer-option" answer-option answer-text="{{answer2.kanji}}" ng-click="onAnswerOptionClick(answer2)">
                    </li>
                    <li class="item answer-option" answer-option answer-text="{{answer3.kanji}}" ng-click="onAnswerOptionClick(answer3)">
                    </li>
                    <li class="item answer-option" answer-option answer-text="{{answer4.kanji}}" ng-click="onAnswerOptionClick(answer4)">
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>