<ion-view title="Kanji List">
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <div class="buttons">
            <a class="button" href="#">Home</a>
        </div>
        <h1 class="title" ng-bind="vm.title"></h1>
        <div class="buttons">
        </div>
    </ion-header-bar>

    <ion-content class="padding">

        <div>
            <a class="item" ng-href="#{{vm.guessKanjiUrl}}/0">
                <div>Resume Level <span ng-bind="vm.currentLevel"></div>
            </a>
        </div>

        <div kanji-group-selecter url="#{{vm.guessKanjiUrl}}/" text="Level"></div>

    </ion-content>
</ion-view>
